<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>forgot</display-name>
    <servlet-name>forgot</servlet-name>
    <servlet-class>com.p1.forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgot</servlet-name>
    <url-pattern>/forgot</url-pattern>
  </servlet-mapping>
  <display-name>ToDoListApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddTodoServlet1</servlet-name>
    <servlet-class>com.p1.AddTodoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTodoServlet</servlet-name>
    <servlet-class>com.p1.DeleteTodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTodoServlet1</servlet-name>
    <url-pattern>/AddTodoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTodoServlet</servlet-name>
    <url-pattern>/DeleteTodoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.p1.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.p1.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.p1.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>status</display-name>
    <servlet-name>status</servlet-name>
    <servlet-class>com.p1.status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>status</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>com.p1.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>